//! **************************************************************************
// Written by: Map P.20131013 on Mon Mar 19 15:45:26 2018
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P127" LEVEL 1;
COMP "button<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "button<1>" LOCATE = SITE "P10" LEVEL 1;
COMP "button<2>" LOCATE = SITE "P11" LEVEL 1;
COMP "button<3>" LOCATE = SITE "P12" LEVEL 1;
COMP "seg7<0>" LOCATE = SITE "P4" LEVEL 1;
COMP "seg7<1>" LOCATE = SITE "P2" LEVEL 1;
COMP "seg7<2>" LOCATE = SITE "P1" LEVEL 1;
COMP "com<0>" LOCATE = SITE "P130" LEVEL 1;
COMP "seg7<3>" LOCATE = SITE "P141" LEVEL 1;
COMP "com<1>" LOCATE = SITE "P131" LEVEL 1;
COMP "seg7<4>" LOCATE = SITE "P137" LEVEL 1;
COMP "seg7<5>" LOCATE = SITE "P140" LEVEL 1;
COMP "seg7<6>" LOCATE = SITE "P135" LEVEL 1;
COMP "a<0>" LOCATE = SITE "P25" LEVEL 1;
COMP "a<1>" LOCATE = SITE "P24" LEVEL 1;
COMP "a<2>" LOCATE = SITE "P23" LEVEL 1;
COMP "a<3>" LOCATE = SITE "P21" LEVEL 1;
COMP "b<0>" LOCATE = SITE "P52" LEVEL 1;
COMP "a<4>" LOCATE = SITE "P20" LEVEL 1;
COMP "b<1>" LOCATE = SITE "P53" LEVEL 1;
COMP "a<5>" LOCATE = SITE "P18" LEVEL 1;
COMP "b<2>" LOCATE = SITE "P55" LEVEL 1;
COMP "a<6>" LOCATE = SITE "P17" LEVEL 1;
COMP "b<3>" LOCATE = SITE "P56" LEVEL 1;
COMP "a<7>" LOCATE = SITE "P15" LEVEL 1;
COMP "b<4>" LOCATE = SITE "P59" LEVEL 1;
COMP "b<5>" LOCATE = SITE "P60" LEVEL 1;
COMP "b<6>" LOCATE = SITE "P63" LEVEL 1;
COMP "b<7>" LOCATE = SITE "P68" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

